* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F2F4;
}

.container {
    max-width: 1334px;
    margin: auto;
}


.nav {

    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #474748;
    background-color: white;
}

.logo {
    width: 150px;
}

.nav .cmpname {
    width: 130px;
}

.serach {
    height: 30px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #777A7E;
    background-color: #F0F5FF;
}

.serach i {
    font-size: 1rem;
    margin: 0px 10px;
}

.serach input {
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
}

.loginbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 300;
    border: none;
}

.loginbtn i {
    font-size: 1rem;
}

div>.ldicon {
    font-size: 0.7rem;
}

.logindiv:hover {
    background-color: #3700ff;
    color: #ffffff;
    border: #000000;
}

.logindiv:hover .arrow {
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.user {
    margin: 10px 10px;

}

.Navlink {
    margin: 0px 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.angledownoicon i {
    font-size: 10px;
}



.Recentserch {
    display: none;
    position: absolute;
    top: 44px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 8px 10px;
    margin-left: -3px;
    height: 350px;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ccc;
}

.RecentSerchList {
    font-size: 12px;
    display: flex;
    color: #777676;

}

.RecentSerchList p,
.RecentSerchList_Disc p {
    padding-left: 15px;
    color: rgb(71, 66, 66);


}

.DiscoverMore {
    margin: 15px 0px;
    font-size: 12px;
    color: #535353;

}

.RecentSerchList_Disc {
    padding: 10px 0px;
    display: flex;

}

.RecentSerchList_Disc i {
    color: #777676;
    font-size: 10px;
}

.serach:focus-within .Recentserch {
    display: block;
}


/*login bgt8*/
.HoverLogin {
    position: absolute;
    top: 40px;
    height: 280px;
    width: 200px;
    margin-left: 100px;
    background-color: #ffffff;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;

}

.Newuser {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px;
}

.Newuser a {
    color: royalblue;
    text-decoration: none;
    font-weight: 500;
    
}

.Newuser a:hover {
    text-decoration: underline;
}

.LoginMenu {
    width: 170px;
    margin-top: 2px;
}

.MenuList {
    display: flex;
    padding-left: 10px;
    padding: 10px 0px;
}

.MenuList p {
    padding-left: 10px;
}

.loginbtn:hover .HoverLogin {
    display: flex;
    cursor: pointer;

}

.buttonmore {
    padding: 8px 20px;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.Hovermore {
    position: absolute;
    left: 80vw;
    top: 6vh;
    height: 140px;
    width: 200px;
    margin-right: 400px;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;

}

.Newmore {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px;
}

.buttonmore:hover .Hovermore {
    display: flex;
    cursor: pointer;
}






/*********** top product************/
.TopproductNavbar_container {
    height: 140px;
}

.TopproductNavbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px 10px;


}

.productNavbar_top {
    height: 100px;
    width: 50px;
    cursor: pointer;
    flex: 1;
    margin: 0px;
}

.productNavbar_top img {
    width: 50px;
    height: 50px;
}

.productNavbar_top p {
    font-weight: 510;
    display: flex;

}

.productNavbar_top:hover p {
    color: #d6440a;
}

.producttoparrow {
    size: 2px;

}

.productNavbar_top:hover i {
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.mySlidesfade {

    padding: 15px 15px;

}


/**********product menu*****/
.TopproductMoreHover {
    position: absolute;
    left: 15vw;
    top: 23vh;
    height: 460px;
    width: 230px;
    margin-right: 400px;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;

}

.Productmore {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.productNavbar_top:hover .TopproductMoreHover {
    display: flex;
    cursor: pointer;

}


.Topproducthover {
    position: absolute;
    left: 50vw;
    top: 23vh;
    height: 460px;
    width: 230px;
    margin-right: 400px;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;
}

.ProductmoreFaishon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.TopproductFaishonHover {
    position: absolute;
    left: 35vw;
    top: 23vh;
    height: 460px;
    width: 230px;
    margin-right: 400px;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;

}

.productNavbar_top:hover .TopproductFaishonHover {
    cursor: pointer;
    display: flex;
}

.TopproducthomeHover {
    position: absolute;
    left: 45vw;
    top: 23vh;
    height: 460px;
    width: 230px;
    margin-right: 400px;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;
}

.Productmorehome {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.productNavbar_top:hover .TopproducthomeHover {
    cursor: pointer;
    display: flex
}

.TopproductbeautyHover {
    position: absolute;
    left: 65vw;
    top: 23vh;
    height: 460px;
    width: 230px;
    margin-right: 400px;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;
}

.Productmorebeauty {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.productNavbar_top:hover .TopproductbeautyHover {
    display: flex;
    cursor: pointer;
}


.TopproductvehicalsHover {
    position: absolute;
    left: 80vw;
    top: 23vh;
    height: 75px;
    width: 230px;
    margin-right: 400px;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    color: black;
    display: none;
}

.productNavbar_top:hover .TopproductvehicalsHover {
    display: flex;
    cursor: pointer;
}


/***********slider***********/

.slider {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sliderimg {
    height: 200px;
    width: 100%;
    padding: 0px 0px;
    padding-right: 5px;

}

.slider_image {
    display: flex;
    padding: 10px 10px;
}

.btn-container {
    margin: auto;
    width: 10px;
}

.btn {
    padding: 30px 15px;
    color: #8B8B8B;
    background-color: white;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 88px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.btn_right {
    left: -40px;
    position: relative;

}

.btn_left {
    position: relative;

}


/******best of electronics******/
.productsectin1 {
    height: 345px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.psright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.psright img {
    height: 320px;
    width: 210px;

}

.psleft {
    height: 100%;
    width: 1100px;
    background-color: white;
}

.productheader {
    height: 80px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productheader h3 {
    color: #212121;
}

.productheader i {
    height: 24px;
    width: 24px;
    color: white;
    background-color: #1c41dc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.product {
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px groove #bdbdbd;
    border-radius: 3px;
    margin: 0px 13px;
}

.product img {
    height: 150px;
    width: 185px;
    padding: 0px 10px;
}

.productinfo {
    text-align: center;
    margin-top: 30px;
}

.productinfo p {
    font-size: 0.9rem;

}

.productinfo h5 {
    color: #212121;
    margin-top: 5px;
}

.productgroup {
    display: flex;
    overflow: hidden;
    position: relative;
}

.productiright {
    position: absolute;
    height: 88px;
    width: 40px;
    background-color: white;
    color: #8B8B8B;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 32%;
    right: 0;
    -webkit-box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
    -moz-box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
    box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
}

/* ===================================================== */






.productsectin2{
    height: 345px;
    width: 100%;
    margin-top: 20px;
}


.psleft2{
    height: 100%;
    width: 100%;
    background-color: white;
}

/* ========================== */

.branddirectory{
    height: 570px;
    width: 100%;
    padding-top: 50px;
    margin-top: 20px;
    color: #565656; 
    background-color: #eeeeee;
}
.linkheader{
    padding-left: 15px;
}

.directorylink{
    margin-top: 15px;
    padding-left: 15px;
    
}

.directorylink span{
    font-size: 0.9rem;
}
.directorylink a{
    font-size: 0.8rem;
    color: #565656; 
}


/* =========================================== */
footer{
    height: 320px;
    width: 100%;
    margin: auto;
    background-color: #212121;
}

.footpara{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footparainfo{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 600;
    gap: 5px;
    margin-top: 10px;
}

.footparahead p{
    font-size: 0.8rem;
    color: #878787;
}

.footparainfo a{
    color: white;
}

/* .footerdiv{
    height: 170px;
    width: 1px;
    border: 1px groove #4c4c4c;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* -------------------------------------------------------- */

.footerbtm{
    height: 70px;
    width: 100%;
    border-top: 1px groove #454D5E;
}

.footbtmgroup{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 0.7rem;
    padding: 0px 30px;
}